**/*/*/*.ts linguist-vendored
**/*/*.ts linguist-vendored
**/*.ts linguist-vendored
*.ts linguist-vendored
**/*.html linguist-vendored
*.html linguist-vendored
**/*.scss linguist-vendored
*.scss linguist-vendored
